<h1>New record</h1>

<%= form_tag :action => :create do %>
  <p>
    <%= label_tag :key %>
    <%= text_field_tag :key %>
  </p>
  
  <p>
    <%= label_tag :value %>
    <%= text_field_tag :value %>
  </p>
  
  <p>
    <%= submit_tag :Create %>
  </p>
<% end %>